
.container{ 
  display: grid ; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
 }
div.input-container{
  grid-column-start: 2; 
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end:2;
  height: 15rem;
  width: 30rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}
input{
  margin-top: 20%;
  height: 2rem;
  width: 15rem;
  text-align: center;
  border:none;
  font-size: 1.4rem;
  text-transform: uppercase;
}
input:hover{
  width: 18rem;
  color: pink
}